<% include ./partials/header %> 

<div class="ui middle aligned center aligned grid"> 
    <div class="column">
        <h2 class="ui red image header"> 
            <img src="https://www.irenteverything.com/wp-content/uploads/2015/05/71dFIorXoSL._SL1500_.jpg" class =image> 
        </h2>
        <form class="ui medium form"> 
            <div class="ui stacked segment"> 
                <div class="ui fluid large submit button" id="findButton">Find</div>
                <br/>
                <div class="ui fluid large submit button" id="createButton">Create</div> 
            </div> 
        </form> 
        <form class="ui large form" id="loginButtonGroup"> 
            <div class="ui stacked segment"> 
                <div class="ui fluid large submit button" id="loginButton">Login</div>
                <br/>
                <div><a href="#" id="forgotPasswordText">"Forgot Password?"</a></div> 
            </div> 
        </form>
    </div> 
</div> 

<% include ./partials/footer %> 
