<% include ./partials/header %> 
	<div class="ui link cards">
		<div class="ui card">
			<div class="image container">
				<img src="http://bulgarianwinecompany.com/wp-content/uploads/2016/03/PICNIC-BACKGROUND.jpg">
			</div> 
			<div class="content"> 
				<div class="header">Canyon Picnic</div>
			</div> 
			<div class="ui buttons">
					<button class="ui blue basic button" id="viewButton">View</button> 
					<button class="ui green basic button" id="joinButton">Join</button> 
			</div>
		</div>
		<div class="ui card">
			<div class="image container">
				<img class="imgSize" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fnickpassmore%2Ffiles%2F2017%2F05%2FDasha-Petrenko-Shutterstock-2-1-1200x867.jpg" style="height: 50%">
			</div> 
			<div class="content"> 
				<div class="header">Beach Adventure</div>
			</div> 
			<div class="ui buttons">
					<button class="ui blue basic button" id="viewButton">View</button> 
					<button class="ui green basic button" id="joinButton">Join</button> 
			</div>
		</div>
		<div class="ui card">
			<div class="image container">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhDQP5Q2nlAluWjEZT0tFkBv2wHDyA3TF4tyqtHCsPOTS1eZfa" class="imgSize">
			</div> 
			<div class="content"> 
				<div class="header">Celebration Point</div>
			</div> 
			<div class="ui buttons">
					<button class="ui blue basic button" id="viewButton">View</button> 
					<button class="ui green basic button" id="joinButton">Join</button> 
			</div>
		</div>
		<div class="ui card">
			<div class="image container">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgxG63aEROMHkgzPqW9IesOrpylIhMfLBGkgaY4sLBrGZ_zI4ZKw" class="imgSize">
			</div> 
			<div class="content"> 
				<div class="header">Exotic Scenes</div>
			</div> 
			<div class="ui buttons">
					<button class="ui blue basic button" id="viewButton">View</button> 
					<button class="ui green basic button" id="joinButton">Join</button> 
			</div>
		</div>
	</div> 

<% include ./partials/footer %> 
